body{
  font-family: Arial, Helvetica, sans-serif;
}


#tableInfo thead tr{
  margin: 4px;
}

#tableInfo thead {
  background-color: rgb(100, 169, 247);
  font-size: 1.1rem;
}

#tableInfo tr:nth-child(2n) {
  background-color: rgb(168, 208, 255);
  /* border: 1px solid red; */
}

#tableInfo td{
  text-align: center;
}

#mainElements{
  text-align: center;
}

.d-none{
  display: none;
}


#searchInput{
  min-width: 300px;
  padding: 8px;
  font-size: 1.2rem;

  margin-bottom: 32px;
}

label[for="inputFileLoad"] {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #106BA0;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  padding: 15px 40px !important;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

#inputFileLoad {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}