body{
  font-family: Arial, Helvetica, sans-serif;
}


#tableInfo thead tr{
  margin: 4px;
}

#tableInfo thead {
  background-color: rgb(100, 169, 247);
  font-size: 1.1rem;
}

#tableInfo tr:nth-child(2n) {
  background-color: rgb(168, 208, 255);
  /* border: 1px solid red; */
}

#tableInfo td{
  text-align: center;
}


